window {
  margin: 0px;
  background-color: rgba(29, 29, 65, 0.8);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  color: white;
  background-color: rgba(43, 48, 59, 0.8);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: white;
  font-size: 14px;
}

#entry {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

#entry:selected {
  background-color: rgba(255, 85, 0, 0.3);
}

#entry:hover {
  background-color: rgba(255, 85, 0, 0.2);
}
